<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Notify you that the event you wanted to attend was cancelled.</h3> 
    <p><%=@event.name%></p>
    <p><%=@event.date%></p>
    <p><%=@event.description%></p>
    <p>We apologize, you can choose other event.</p>
  </body>
</html>
